body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#board {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

#text {
    font-size: 12;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 1px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}

.x:before, .x:after {
    content: "";
    position: absolute;
    background-color: green;
}

.x:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.x:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

.o {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid pink;
    box-sizing: border-box;
}